<%= link_to_unless current_page.last?, raw('Older &raquo;'), url, remote: remote, class: "px-3 py-1 rounded bg-white border hover:bg-blue-700" do |name| %>
  <span class="px-3 py-1 rounded bg-gray-200 text-gray-500 cursor-not-allowed"><%= name %></span>
<% end %>
