<%= render "form",user: @user, book: @book, rating: @rating %>    

<% if @rating.errors.any? %>
  <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded mb-4 mt-4">
    <h2 class="font-bold mb-2">Có lỗi xảy ra:</h2>
    <ul class="list-disc list-inside">
      <% @rating.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>


